<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Observables to Signals
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
      @if (counter$ | async) {
      <ion-accordion-group value="item.genre">
        <ion-accordion>
          <ion-item slot="header">
            <ion-label>Signals by Async Pipe</ion-label>
          </ion-item>
    
          <ion-item slot="content">
            <ul>
              @for(airport of counter(); track airport) {
                <li>
                  <h2>{{ airport.airportName }}</h2>
                </li>
              }
            </ul>
          </ion-item>
        </ion-accordion>
      </ion-accordion-group>
      }
          


      <ion-accordion-group value="item.genre">
        <ion-accordion>
          <ion-item slot="header">
            <ion-label>Signals by Observable Subscription</ion-label>
          </ion-item>
    
          <ion-item slot="content">
            <ul>
              @for(airport of airports(); track airport) {
                <li>
                  <h2>{{ airport.airportName }}</h2>
                </li>
              }
            </ul>
          </ion-item>
        </ion-accordion>
      </ion-accordion-group>

</ion-content>
